<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Recruiter Info</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    </head>
    <body>
        <div class="container">
            <h1 style="text-align:center;">Recruiter Profile Page</h1>
            <form action="/rec_com/newrel" method="post">
                <input type="number" name ="recid" id="recid" class="formcontrol" th:value="${recruiter.id}" readonly /></td>
                <input type="number" name ="comid" id="comid" class="formcontrol" th:value="${comid}" readonly /></td>
                <input type="number" name ="rel" id="rel" class="formcontrol" value="0" readonly /></td>
                <button type="submit"></button>
            </form>
            <div class="card" style="width: 18rem;">                
                <div class="card-body">
                    <h5 class="card-title">Recruiter</h5>
                    <p class="card-text" th:text=" 'ID: '+ ${recruiter.id}" />
                    <p class="card-text" th:text="'Name: '+${recruiter.name}" />
                    <p class="card-text" th:text="'Email: '+${recruiter.email}" />
                    <p class="card-text" th:text="'Description: '+${recruiter.description}" />
                    <p class="card-text" th:text="'Start Date: '+${recruiter.startDate}" />
                    <p class="card-text" th:text="'Rating: '+${recruiter.rating}" />
                </div>
            </div>
        </div>
    </body>
</html>
