<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Resume</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        
        <style>
            body {
                background-color: #1e1e1e;
            }
        </style>
    </head>
    <body>
        <div class="container">

            <h1 style="color: #007acc;text-align:center;">Enter Resume Info</h1>

            <div style="background-color: #3e3e42;color: #007acc;align-content: center;">
                <form action="/jobseeker/resume/create" method="post">
                    <div class="form-group">
                        <label for="jobseekerId">JobSeekerId:</label>
                        <input type="number" class="form-control" name="jobseekerId" id="resumeId" th:value="${jobseekerId}" readonly></input>
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="resumeId" placeholder="Enter Professional Name"></input>
                    </div>
                    <div class="form-group">
                        <label for="city">City:</label>
                        <input type="text" class="form-control" name="city" id="resumeId" placeholder="Enter City"></input>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" name="description" id="resumeId" placeholder="Enter detailed description of your experience"></input>
                    </div>
                    <div class="form-group">
                        <label for="experience">Experience:</label>
                        <input type="text" class="form-control" name="experience" id="resumeId" placeholder="Enter previous experiences in your field"></input>
                    </div>
                    <div class="form-group">
                        <label for="previousJobs">Previous Jobs:</label>
                        <input type="text" class="form-control" name="previousJobs" id="resumeId" placeholder="Enter Previous Jobs"></input>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" name="email" id="resumeId" placeholder="Enter email you want others to know about"></input>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </body>
</html>