<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Create New Spell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    </head>
    <body>
        <div class="container">

            <h1 style="text-align:center;">Enter Spell Information...</h1>

            <div style="align-content: center;">
                <form action="/spell/create" method="post">
                    <div class="form-group">
                        <label for="spell_stuff">Spell Name:</label>
                        <input type="text" class="form-control" name="spellName" id="spellName" placeholder="Enter spell name"></input>
                    </div>
                    <div class="form-group">
                        <label for="spell_effect">Spell Effect:</label>
                        <input type="text" class="form-control" name="spellEffects" id="spellEffects" placeholder="Enter effects"></input>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


            </div>
        </div>

    </body>
</html>
