
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Jobs</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

</head>
<body background="#f2f0e4">
<div class="container">

    <h1 style="text-align:center;">Job List</h1>

    <div style="align-content: center;">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Descr</th>
                <th>CompanyID</th>
                <th>RecruiterID</th>
                <th>Rating</th>
                <th>numRatings</th>
                <th>DatePosted</th>
                <th>SalaryHigh</th>
                <th>SalaryLow</th>
                <th>quizID</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${jobList}">
                <td> <a th:href="@{/job/update/id={id}(id=${job.id})}" th:text=" ${job.id}" > </a></td>
                <td th:text = " ${job.name}"><</td>
                <td th:text = " ${job.descr}"></td>
                <td th:text = " ${job.companyID}"></td>
                <td th:text = " ${job.recruiterID}"></td>
                <td th:text = " ${job.rating}"></td>
                <td th:text = " ${job.numRatings}"></td>
                <td th:date = " ${job.datePosted}"></td>
                <td th:text = " ${job.salaryHigh}"></td>
                <td th:text = " ${job.salaryLow}"></td>
                <td th:text = " ${job.quizID}"></td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
</body>
</html>